*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    /* background: url('./images/background.svg');
    /*background-color: blueviolet;
    background-position: center;
    background-repeat: repeat;
    background-size: cover; */
    background-color: #252525;
    color: antiquewhite;
    font-family: 'Inter', sans-serif;
    /*font-family: 'general-sans', sans-serif;*/
    margin: 6%;
    padding: 0;
}

li {
    list-style: none;
}

.bold{
    font-weight: 600;
}

.yellow{
    color: #fff94a;
    font-weight: 500;
    letter-spacing: 0.09rem;
}

nav{
    width: 100%;
    /*background-color: burlywood;*/
    height: auto;
    padding-block: 6%;
    margin-bottom: 4%;
}

.nav--links{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav--logo{
    font-size: 1.5rem;
    font-weight: 300;
}

.color{
    color: darkorange;;
    font-weight: 600;
}

.hero--section{
    width: 100%;
    height: auto;
    /*background-color: antiquewhite;*/
}

.marquee{
    position: relative;
    max-width: 100%;
    overflow-x: hidden; 
}

.track {
    white-space: nowrap;
    will-change: transform;
    animation: marquee 16s linear infinite;
}

.hero--heading{
    font-size: clamp(0.5rem, 1cqi + 0.4rem, 2rem);
    text-align: center;
    letter-spacing: 0.1rem;
    font-weight: 300;
    padding: 1%;
    /*background-color: darkorange;*/
    color: antiquewhite;
    margin-bottom: 4%;
}

.hero--container{
    width: 100%;
    height: auto;
    /*background-color: darkslategrey;*/
    display: flex;
    flex-direction: column;
    margin-bottom: 40%;
}

.hero--card{
    width: 100%;
    /*background-color: darkorange;*/
    display: flex;
    margin-block: 5%;
}

.rating{
    display: flex;
    gap: 4px;
    align-items: center;
}

.rating span:first-child{
    margin-right: auto;
}

.card--img{
    width: 40%;
    position: relative;
}

.card--img img{
    width: 100%;
    background-color: antiquewhite;
    border-radius: 8px;
}

.card--img .food--indicator{
    position: absolute;
    width: 10%;
    top: 5%;
    left: 85%;
    border-radius: 0;
}


.card--details{
    /*container-type: inline-size; */
    width: 60%;
    /*background-color: lightblue;*/
    padding-inline: 3%;
    letter-spacing: 0.03rem;
    font-weight: 200;
}

.rating, .card--name, .card--des, .card--price, .buttons{
    margin-bottom: 3%;
} 

.rating > :where(span){
    font-size: clamp(0.5rem, 2.8cqi, 2rem);
}

.card--details > :where(h2){
    font-size: clamp(1.5rem, 4cqi , 5rem);
}

.card--details > :where(p){
    font-size: clamp(0.4rem, 2.6cqi, 2.5rem);
}

.card--price{
    font-size: 3.4cqi;
    font-weight: 600;
}

.card--details .buttons{
    display: flex;
}

button{
    border: 1px solid darkslategray;
    padding: 0.4rem;
    border-radius: 4px;
    font-size: clamp(0.9rem, 3cqi, 2.5rem);
    font-weight: 600;
    color: #252525;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
    text-align: center;
    outline: none;
}

/* .button--minus{
    width: 18%;
    background-color: #b2b2b2;
} */

/* .button--minus:hover{
    background-color: #b2b2b2;
}

.button--minus:active{
    background-color: #585858;
    transform: translateY(1px);
} */

.button--add{
    width: 100%;
    /*background-color: rgb(77, 221, 77);*/
    background-color: darkorange;
}

.button--add:hover{
    background-color:#f6c282 ;
} 

.button--add:active{
    background-color: #c06900;
    transform: translateY(1px);
}

.divider{
    color: darkslategray;
    background-color: darkslategray;
    opacity: 0.1;
}

.payment--section{
    width: 100%;
    height: auto;
    background-color: #fff94a;  
    color: #252525; 
}

.payment--visible{
    display: none;
}

.payment--footer{
    width: 100%;
    height: 10%;
    background-color: aliceblue;
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 9;
}

.payment--text{
    font-size: clamp(0.5rem, 3.8cqi, 2.5rem);
}

.payment--footer button{
    font-family: 'Inter', sans-serif;
    padding: 3%;
    font-size: clamp(0.5rem, 3.5cqi, 2.5rem);
    color: aliceblue;
    background-color: rgb(0, 149, 0);
}

.payment--footer button:hover{
    background-color: rgb(1, 134, 1);
} 

.payment--footer button:active{
    background-color: rgb(1, 107, 1);
    transform: translateY(1px);
}

.payment--container{
    display: none;
    width: 100%;
    height: auto;
    max-height: 50vh;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: aliceblue;
    z-index: 50;
    padding: 5%;
    overflow: scroll;
    margin-bottom: 15%;
    border-radius: 16px;
}

.dropdown{
    width: 100%;
    padding: 1%;
    padding-block: 2%;
    margin-bottom: 2%;
    border: none;
    background-color: rgb(155, 207, 255);
    color: #252525;
    border-radius: 10px;
}

/*
.card{
    margin: 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card > :where(p){
    font-size: clamp(0.5rem, 3cqi + 0.5rem, 2.5rem);
} */

.proceedDropDown{
    display: block;
}

.card {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 8px;
    font-size: clamp(0.5rem, 2cqi + 0.5rem, 2.5rem);
    align-items: center;
    margin-bottom: 7%;
}    

.none{
    display: none;
}
    
.payment--heading { grid-area: 1 / 1 / 2 / 4; }
.payment--price { grid-area: 1 / 4 / 2 / 5; }
.payment--multi { grid-area: 1 / 5 / 2 / 6; }
.payment--quantity { grid-area: 1 / 6 / 2 / 7; }
.payment--equal { grid-area: 1 / 7 / 2 / 8; }
.payment--totalPrice { grid-area: 1 / 8 / 2 / 9; }
.payment--remove { grid-area: 1 / 9 / 2 / 10; }

.payment--remove {
    width: 100%;
}

.payment--remove img{
    width: 90%;
}
.payment--remove img:active{
    transform: translateY(2px);
}


.secondDivider{
    color: #252525;
    background-color: #252525;
    opacity: 0.5;
}

.proceedPayment{
    width: 100%;
    height: 10%;
    background-color: aliceblue;
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 99;
}

.allTotal{
    
    display: flex;
    margin-block: 5%;
    gap: 8%;
}

.allTotal--text, .allTotal--price {
    font-size: clamp(0.5rem, 3.8cqi, 2.5rem);
}
.proceedPayment button{
    font-family: 'Inter', sans-serif;
    padding: 3%;
    font-size: clamp(0.5rem, 3.5cqi, 2.5rem);
    color: aliceblue;
    background-color: rgb(0, 149, 0);
}

.proceedPayment button:hover{
    background-color: rgb(1, 134, 1);
} 

.proceedPayment button:active{
    background-color: rgb(1, 107, 1);
    transform: translateY(1px);
}

@keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-100%); }
  }
